# PyCharm
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# pytest
.pytest_cache/
*-results.xml

# build
dist/
*.egg-info

# tox
.tox/

# coverage
*.coverage*
coverage.xml

# Digital Pattern Editor
*.digiprojcache

# TestStand Reports
systemtests/*BatchReport*.xml
systemtests/*.html
systemtests/*.xml

# TSM Reports. Example: File_10Sep2020_1030_Site1.txt
systemtests/*_[0-9][0-9]???202[0-9]_*.csv
systemtests/*_[0-9][0-9]???202[0-9]_*.std
systemtests/*_[0-9][0-9]???202[0-9]_*.txt
