
trigger:
- main

jobs:
- job: CI
  workspace:
    clean: all
    
  pool:
    name: nitsm-python-test

  steps:
  - script: |
      python -m pip install --upgrade pip
    displayName: 'Upgrade pip'

  - script: |
      pip install --upgrade -r requirements.txt
    displayName: 'Install or upgrade required packages'

  - script: |
      pip uninstall -y nitsm
    displayName: 'Uninstall previous version of nitsm if present'

  - script: |
      pip install --no-cache .
    displayName: 'Install nitsm'

  - script: |
      pytest tests systemtests --junitxml=test-results.xml --cov=nitsm --cov-report=xml
    displayName: 'Run python unit tests'

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Publish test results'
    displayName: 'Display test results'

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
    displayName: 'Display code coverage results'
